<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
      <add key="token" value="weixin" />

    <!--<add key="appid" value="wx0fd32a6aca057263"/>
    <add key="secret" value="cb2e0076f438e3b514054c80cbdd1316"/>-->
    <!--测试接口-->
    <add key="appid" value="wxa4b00933ae662431" />
    <add key="secret" value="142133356e9dbfacaf6d4db08096b409" />

    <add key="token_url" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential" />
  </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
